.footer {
    background-color: $footerBg;
    height: 252px;
    margin: auto;
    .footerContent {
        display: flex;
        justify-content: start;
        align-items: left;
        .contact {
            .logo {
                font-family: "Raleway", sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;
                color: $mottoColor;
                padding-top: 60px;
                padding-bottom: 20px;
                margin: 0;
                a {
                    text-decoration: none;
                    color: $mottoColor;
                }
                span {
                    color: $secColor;
                }
            }
            .address {
                font-style: normal;
                .items {
                    list-style: none;
                    font-style: normal;
                    margin: 0;
                    padding: 0;
                    .item {
                        font-size: 14px;
                        line-height: 1.71;
                        letter-spacing: 0.03em;
                        color: $footerLinkMain;
                        margin-top: 8px;
                        &:first-child {
                            font-size: 14px;
                            line-height: 1.71;
                            letter-spacing: 0.03em;
                            color: $mottoColor;
                        }
                        a {
                            color: $footerLinkMain;
                            text-decoration: none;
                            &:hover,
                            &:focus {
                                color: $secColor;
                            }
                        }
                    }
                }
            }
        }

        .socialMedia {
            padding-top: 72px;
            padding-left: 70px;
            h5 {
                font-weight: 700;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: $footerTxtMain;
                margin: 0;
                padding-bottom: 20px;
            }
            .items {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .item {
                background: $sociaBgColor;
                border-radius: 20px;
                width: 44px;
                height: 44px;
                margin: 0 10px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                .links {
                    text-decoration: none;
                    fill: $footerTxtMain;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover,
                &:focus {
                    fill: $footerTxtMain;
                    background: $secColor;
                }
            }
        }
    }
}
